.colors-list {
    overflow: hidden;
}

.colors-list > div {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    float: left;
    margin-right: 5px;
}

.radio-custom {
    display: none;
}

.radio-custom-label {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    margin-right: 5px;
    cursor: pointer;
}

.radio-custom + .radio-custom-label:before {
    content: '';
    background: transparent;
    border-radius: 10px;
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    padding: 2px;
    text-align: center;
}

.radio-custom:checked + .radio-custom-label:after {
    content: "";
    padding: 2px;
    text-align: center;
    position: absolute;
    width: 1px;
    height: 4px;
    border: solid blue;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    top: 3px;
    left: 7px;
}

.noteSearch {
    width: 100%;
    max-width: 600px;
    padding: 16px;
    margin: 0 auto 16px;
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    border-radius: 2px;
    display: flex;
    border: none;
    font-size: 14px;
    font-weight: 300;
}