.container{
  width: 90%;
  margin: 20px auto;
  display: flex;

}
.container img{
  width: 20%;
  margin-right: 2%;
}
.container p{
  width: 78%;
}
.tabs{
  width: 40%;
  margin: 20px auto;
  display: flex;
}
.tabs li{
  list-style: none;
  border: 1px solid lightskyblue;
  background-color: lightblue;
  padding: 7px 20px;
}
