.note {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  color: black;
  margin: 15px;
  flex-wrap: wrap;
}
.note-title{
    text-align: center;
    font-weight: bold;
    padding: 15px;
    border: 1px solid black;
}
.note-content{
    text-align: center;
    padding: 10px;
  }
