.container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.buttons{
  display: flex;
  flex-direction: column;
  margin: 0 40px;
  justify-content:space-evenly;
}

.note-item{
  display: flex;
  flex-direction: column;
  width: 500px;
  margin-bottom: 30px;
}
.note-header{
  height: 100px;
  border: 0;
  font-size: 35px;
  text-align: center;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  color: white;
}
.note-header:disabled{
  color: white;
}
.note-body{
  height: 400px;
  border: none;
  font-size: 20px;
  text-align: justify;
  background-color: white;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 20px;

}
.note-body:disabled{
  color: black;
}