form {
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}
.header{
  font-size: 30px;
  font-weight: 700;
  display: flex;
  justify-content: center;
}
.title{
  margin:10px;
  width: 300px;
  height: 20px;
  border-color: #494c52;
  border-radius: 4px;
  outline: none;
}
.content{
  margin:10px;
  width: 400px;
  height: 300px;
  border-radius: 30px;
  border-color: #494c52;
  outline:none;
}
.submit-button{
  width: 200px;
}

.button{
  width: 20px;
  height: 20px;
  margin: 15px;
  cursor: pointer;
  &-container{
    display: flex;
    width: 500px;
  }
}
.green{
  background-color: #a4eb34;
  border-radius: 50%;
}
.blue{
  background-color: #34a8eb;
  border-radius: 50%;
}
.yellow{
  background-color: #ebd634;
  border-radius: 50%;
}
.red{
  border-radius: 50%;
  background-color: #eb346b;
}