form {
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}
.header{
  font-size: 50px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  color: #34a8eb;
}
.title{
  width: 500px;
  height: 100px;
  outline: none;
  border: none;
  font-size: 35px;
  font-weight: bold;
  color: white;
  padding: 20px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.content{
  font-size: 20px;
  width: 500px;
  height: 400px;
  outline:none;
  border: none;
  padding: 20px;
  text-align: left;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
.submit-button{
  width: 540px;
  height: 60px;
  margin: 30px;
  text-align: center;
  cursor: pointer;
  color: white;
  border: 0;
  background-color: #34a8eb;
  padding: 10px 25px;
  border-radius: 5px;
  font-size: 25px;
}

.button{
  width: 20px;
  height: 20px;
  margin: 15px;
  cursor: pointer;
  &-container{
    display: flex;
    width: 500px;
    text-align: center;
  }
}
.color{
  display: flex;
  align-items: center;
  margin: 15px;
  justify-content: center;
}
.green{
  background-color: #a4eb34;
  border-radius: 50%;
}
.blue{
  background-color: #34a8eb;
  border-radius: 50%;
}
.yellow{
  background-color: #ebd634;
  border-radius: 50%;
}
.red{
  border-radius: 50%;
  background-color: #eb346b;
}