.test{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    font-family: sans-serif,"Times New Roman";
    font-size: 20px;
    color: lime;
}
p{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-size: 20px;
    color:green;
}