.navbar{
  display: flex;
  justify-content: space-between;
  margin: 20px 40px;
  font-weight: normal !important;
  font-size: 25px !important;

}
.tabs{
  display: flex;
}
.tabs a{
  background-color: #34a8eb;
  margin: 10px;
  border-radius: 5px;
  padding: 10px 25px;
}
.tabs li:hover{
  box-shadow: 0 5px 10px rgba(52,168,235,0.7);
}
a {
  text-decoration: none;
  color: white;


}
.logo-img img{
  height: 50px;
  width: 50px;
  margin-top: 20px;
}